@import "./variables";
@import "./breakpoints";
#category-info {
  .subcat-btn {
    font-size: 14px;
    text-shadow: none;
  }
}

#category-list {
  .cat-btn {
    font-size: 16px;
    text-shadow: none;
    padding: 6px 24px;
    @include desktop {
      padding: 6px 18px;
    }
  }
}
